<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Tech Blog</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a id="home-nav" class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a id="dashboard-nav" class="nav-link" href="#">Dashboard</a>
      </li>
      {{#if logged_in}}
        <li class="nav-item">
          <a id="logout-nav" class="nav-link" href="#">Logout</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a id="login-nav" class="nav-link" href="/login">Login</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
